{% extends "base.html" %}
{% load static %}

{% block bgimg %}
<style>
    header.masthead {
    background-image: url("{% static '\blog\images\giraffe_elinit.png' %}");
    }
</style>
{% endblock %}

{% block title %}
    O Elinit
{% endblock %}

{% block heading %}
    ELINIT
{% endblock %}

{% block subheading %}
    Co je Elinit a kdo je Eliška?
{% endblock %}

{% block content %}

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
                <div class="text-center">
                    <p>Dokážu změnit web na heroku?</p>
                </div>


{% endblock %}