{% extends "base.html" %}
{% load static %}

{% block bgimg %}
<style>
    header.masthead {
    background-image: url("{% static '\blog\images\Zirafy2.jpeg' %}");
    }
</style>
{% endblock %}

{% block title %}
    O Elinit
{% endblock %}

{% block heading %}
    ELINIT
{% endblock %}

{% block subheading %}
    Co je Elinit a kdo je Eliška?
{% endblock %}

{% block content %}

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
                <div class="row">
                    <div class="col-md-6">
                        <strong>Jmenuji se Eliška a na začátku roku 2021 jsem se ze zoufalství a nudy covidové pandemie začala učit programovat. </strong>
                    </br>
                    </br>
                        <strong>Elinit je v současné době napůl má osobní stránka a v druhé polovině platforma, kde se kdokoliv může stát blogerem. </strong>
                    </div>
                    <div class="col-md-6">
                        <div class="row text-center">
                            <div class="col-sm">
                                <img src="{% static 'blog/images/eli_about2.jpg' %}" width=290 class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm">
                                <a href="https://github.com/eliska-n"> 
                                    <img src="{% static 'blog/images/github.svg' %}" width=30 class="img-fluid"> 
                                </a>
                                <a href="https://www.linkedin.com/in/enovotna/"> 
                                    <img src="{% static 'blog/images/linkedin.svg' %}" width=30 class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <div class="row ">
                    <div class="col-lg">
                        <h2 class="text-center">Proč je to dvojjazyčné? </h2>
                        <p>
                            Zmatení jazyků asi vychází z mého vnitřního nastavení. Hlavním jazykem aplikace je angličtina, a to kvůli čitelnosti kódu a širšímu potenciálu mé sebeprezentace. Nicméně češtinu miluji a nedokázala jsem si ji odpustit. Vytvoření plnohodnotné lokalizace – opravdu dvojjazyčného webu naráží na dvě úskalí: 1.) technické – neumím to, 2.) obsahové – česká část neodpovídá té anglické.
                        </p>
                        <h2 class="text-center"> Proč Elinit? </h2>
                        <p>
                            Doménu elinit.cz jsem si koupila v rámci kurzu Czechitas. Nevěděla jsem, jestli ji vůbec někdy použiji, takže jsem vymýšlení vhodného názvu věnovala asi 5 minut. Jedná se o cvičný projekt. Přestože web není nic extra, je to můj první výsledek nějakého programování a já jsem na něj pyšná podobně jako malé dítě, kterému se poprvé povedl kotrmelec. Momenty, kdy jsem v noci sprostě nadávala tiché obrazovce se pravidelně střídaly s těmi, kdy jsem skákala nadšeně po bytě a opěvovala svou genialitu. Nutno podotknout, že gin s tonikem mě věrně provázely všemi výkyvy.
                        </p>
                        <h2 class="text-center"> Jak to vznikalo a co s tím dál? </h2>
                        <p>
                            Kdyby Tě, milý čtenáři, zajímaly problémy blondýny, co se snaží programovat v Pythonu, lidé a platformy, které jí pomáhají, a postup výroby těchto jednorožci prosycených stránek, přečti si <a href="http://www.elinit.cz/post/1">můj první blogový příspěvek</a>.
                            Kdyby Tě zajímalo, co všechno funguje na tomto webu (a hlavně co všechno nefunguje), najdeš velké shrnutí v <a href="http://www.elinit.cz/post/2">dalším příspěvku</a>. Kdybys měl touhu mi pomoct popsané i nepopsané problémy odstranit, budu vždy vděčná za věcný komentář, radu nebo třeba slova útěchy. </br>
                            Mám v plánu celý projekt nacpat na Github. Zatím se snažím zjistit, co všechno musím zahrnout do .gitignore.</br>
                            Kdyby ses, milý čtenáři, chtěl stát blogerem a zveřejnit zde svůj originální obsah, uděláš mi úplně největší radost. Nenech se, prosím, odradit nefunkčními prvky a neexistující podporou. Má to být legrace a já budu moc ráda, když ji se mnou bude někdo sdílet.  </br>
                            Ráda bych stránce dodávala další funkce. To ale bude záviset na mém dalším rozvoji a směřování. Zatím je to myšlenka a předsevzetí. Nechme se překvapit, co z toho vznikne. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}