{% extends "base_blog.html" %}
{% load static %}

{% block title %}
    Edit Post
{% endblock %}

{% block bgimg %}
    {% if post.header_image %}
        <style>
            header.masthead {
            background-image: url('{{ post.header_image.url }}');
            }
        </style>
    {% else %}
        <style>
            header.masthead {
            background-image: url("{% static 'blog/images/elinit_unicorns.png' %}");
            }
        </style>
    {% endif %}
{% endblock %}

{% block heading %}
    Edit Post
{% endblock %}

{% block subheading %}
    Mistakes make us stronger. But here you can correct all of them
{% endblock %}

{% block content %}

<!-- Main Content-->
{% if user.is_authenticated %}
    {% if post.author.id == user.id or user.id == 1 %}
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-8">
            
                        <div class="mb-3">
                            <form method = "POST" enctype="multipart/form-data">
                                <div class="form-floating">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    {{ form.as_p }}
                                    <input type = "submit" class="btn btn-primary text-uppercase active" id="submitButton" value = "Edit Post" >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endif %}
{% else %}
    <p>You are not allowed here! Get out!</p>
{% endif %}

{% endblock %}