{% extends "base_blog.html" %}
{% load static %}

{% block title %}
    Your gallery
{% endblock %}

{% block bgimg %}
<style>
    header.masthead {
    background-image: url("{% static 'blog/images/Unicorn3.jpeg' %}");
    }
</style>
{% endblock %}

{% block heading %}
    Add Image
{% endblock %}

{% block subheading %}
    Save your images and use them in your posts
{% endblock %}

{% block content %}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
    
                <div class="mb-3">
                    <form method = "POST" enctype="multipart/form-data">
                        <div class="form-floating">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form.as_p }}
                            <input type = "submit" class="btn btn-primary text-uppercase active" id="submitButton" value = "Add Image" >
                        </div>
                    </form>
                    <script>
                        var name = "{{ page_user.id }}";
                        document.getElementById("jsusername2").value = 
                            name;
                    </script>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}