{% extends "base_blog.html" %}

{% block title %}
    Delete Image
{% endblock %}

{% block bgimg %}
<style>
    header.masthead {
    background-image: url("{% static 'blog/images/elinit_unicorns.png' %}");
    }
</style>
{% endblock %}

{% block heading %}
    Delete Image
{% endblock %}

{% block subheading %}
    Get rid of it!
{% endblock %}

{% block content %}
<!-- Main Content-->
{% if user.is_authenticated %}
    {% if galleryimg.profile.id == user.profile.id %}
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-8">
                        <figure class="text-center">
                        <div class="mb-3">
                            <form method = "POST">
                                <div class="form-floating">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type = "submit" class="btn btn-primary text-uppercase active" id="submitButton" value = "Delete Image" >
                                </div>
                            </form>
                        </div>
                    </figure>
                    </div>
                </div>
            </div>
        </main>
        {% endif %}
{% else %}
    <p>You are not allowed here! Get out!</p>
{% endif %}

{% endblock %}