{% extends "base_blog.html" %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block bgimg %}
<style>
    header.masthead {
    background-image: url("{% static 'blog/images/Unicorn3.jpeg' %}");
    }
</style>
{% endblock %}

{% block heading %}
    {{ profile_page_user.user.first_name }}
    {{ profile_page_user.user.last_name }}
{% endblock %}

{% block subheading %}
    Your profile page
{% endblock %}

{% block content %}

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
                <div class="text-center">
                    {% if profile_page_user.profile_picture %}
                        <img src="{{ profile_page_user.profile_picture.url }}" width=50% class="img-fluid mx-auto d-block">
                    {% else %}
                        <img src="{% static 'blog/images/default_profile_pic.png' %}" width=50%>
                    {% endif %}

                    <p> {{ profile_page_user.bio }} </p>
                    <small>
                        {% if profile_page_user.website_url %}  <a href= "{{ profile_page_user.website_url }}"> Website</a> <br/>{% endif %} 
                        {% if profile_page_user.github_url %}  <a href= "{{ profile_page_user.github_url }}"> GitHub</a> <br/>{% endif %} 
                        {% if profile_page_user.twitter_url %}  <a href= "{{ profile_page_user.twitter_url }}"> Twitter</a> <br/>{% endif %} 
                        {% if profile_page_user.instagram_url %}  <a href= "{{ profile_page_user.instagram_url }}"> Instagram</a> <br/>{% endif %} 
                        {% if profile_page_user.facebook_url %}  <a href= "{{ profile_page_user.facebook_url }}"> Facebook</a> <br/>{% endif %} 
                        {% if profile_page_user.linkedin_url %}  <a href= "{{ profile_page_user.linkedin_url }}"> LinkedIn</a> <br/>{% endif %} 
                        {% if profile_page_user.any_other_url %}  <a href= "{{ profile_page_user.any_other_url }}"> Other favourite website</a> <br/>{% endif %} 
                        <br/>
                    </small>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}